extends ../layout
block content
  h1= course.name
  p= course.description
  p Tietokanta:  
    a(href="/databases/#{course.database._id}")= course.database.name
  
  .col-lg-6 
    if participates
      h3 Tehtävät
      .list-group
        each task in course.tasks
          a(href="/tasks/#{task._id}").list-group-item
            h4.list-group-item-heading= task.name
            p.list-group-item-text= task.description
      a(href="/courses/#{course._id}/tasks/new") Lisää tehtävä
    else if currentUser
      a(href="/courses/#{course._id}/join") Liity
  .col-lg-6
    if currentUser && currentUser.priviledges > 1
      h3 Opiskelijat
      .list-group
        each student in course.students
          a(href="/users/#{student.username}").list-group-item
            h4.list-group-item-heading= student.username
