extends ../layout
block content
  #database
    h1= database.name
    .list-group
      each row in rows
        a(href="/databases/#{database._id}/table/#{row.name}").list-group-item
          h4.list-group-item-heading= row.name
    hr
    .actions
      p
        a(href="/databases/#{database._id}/destroy") Poista tietokanta

