extends ../layout
block content
  #task
    h1= task.name
    p= task.description
    form(id="form", action="/tasks/#{task._id}/execute", method="GET")
      .field
        textarea(class="code", name="task_query", cols="80", rows="24")
          =query
      .button
        input(type="submit", value="Suorita")

  #errors
    p= error
  #results
    if success
      p Correct answer!
    else if success==false
      p Wrong answer!

    table.table.table-striped.table-condensed
      thead
        tr
          if cols
            - each col in cols
              th= col
      tbody
        if rows
          - each row in rows
            tr
              - each col in cols
                td= row[col]
  #modelanswer
    h3 Mallivastaus
    table.table.table-striped.table-condensed
      thead
        tr
          if mcols
            - each col in mcols
              th= col
      tbody
        if mrows
          - each row in mrows
            tr
              - each col in mcols
                td= row[col]

